<h1>{{title}}</h1>
<!--Replaced <app-heroes> because you will only display the HeroesComponent when the user navigates to it.-->
<!--The <router-outlet> tells the router where to display routed views.-->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<!--The <router-outlet> tells the router where to display routed views.-->
<router-outlet></router-outlet>
<app-message></app-message>
