h2 {
  color: red;
  font-family: Aria, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: crimson;
  font-family: Cambria, Georgia;
}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color: #888;
  margin-bottom: 12px;
}

button:hover {
  background-color: #CFD8DC;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


